{% extends 'master/base.html' %}

{% block content %}
  

{% if request.user.role == 'seller' %}
  <a href="{% url 'addproduct' %}" class="btn btn-primary btn-sm">+ add addproduct</a>
{% endif %}
  



{% for i in pro_dic %}
<div class="col-md-4">
  <div class="card" style="width: 18rem;">
  <img src="/{{i.product_image}}" class="card-img-top" alt="..." width="65px">
  <div class="card-body">
    <h5 class="card-title">product_name:{{i.product_name}}</h5>
    <p class="card-text">price:{{i.price}}</p>
    <p class="card-text">stock_quantity:{{i.stock_quantity}}</p>
    <p class="card-text">created_at:{{i.created_at}}</p>
    
    {% if request.user.role == 'Customer' %}
    <a href="{% url 'addorder' %}" class="btn btn-primary">Order</a>
    {% endif %}
      
   
  </div>
</div>
</div>
{% endfor %}
  

{% endblock content %}




{% comment %} <table class="table">
  <thead>
    <tr>
      <th scope="col">Sl</th>
      <th scope="col">seller</th>
      <th scope="col">category</th>
      <th scope="col">product_name</th>
      <th scope="col">product_description</th>
      <th scope="col">product_image</th>
      <th scope="col">price</th>
      <th scope="col">stock_quantity</th>
      <th scope="col">created_at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>

{% for i in pro_dic %}
    <th scope="row">{{forloop.counter}}</th>
     <td>{{i.seller}}</td>
      <td>{{i.category}}</td>
       <td>{{i.product_name}}</td>  
      <td>{{i.product_description}}</td>
       <td>
        <img src="/{{i.product_image}}" width="65px">
      </td>
         <td>{{i.price}}</td>
      <td>{{i.stock_quantity}}</td>
       <td>{{i.created_at}}</td>
       <td>
        <a href="{% url 'delete' i.id %}" class="btn btn-danger btn-sm">Delete</a>
        {% comment %} <a href="{% url 'edit' i.id %}" class="btn btn-secondary btn-sm">Edit</a> {% endcomment %}
       {% comment %} </td> {% endcomment %}
    {% comment %} </tr> {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}
    
 
  {% comment %} </tbody> {% endcomment %}
{% comment %} </table> {% endcomment %}